*{margin: 0;padding: 0;}
div.box{
    margin-top: 100px;
    margin-left:20px ;
}
div.box>div{
    float: left;
}
div.min{
    position: relative;
    width: 300px;
    height: 180px;
}
div.min img{
    width: 100%;
    height: 100%;
}
div.cursor{
    position: absolute;
    background-color:rgba(222, 222, 222, 0.5);
    width: 100px;
    height: 60px;

}
div.max{
    width: 300px;
    height: 180px;
    overflow: hidden;
}
div.max img{
    width: 900px;
    height: 540px;
}