html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
div.ac-header{
    height: 30px;
    width: 200px;
    line-height: 30px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-top: 0;
    cursor: pointer;
    
}
div.ac-body{
    display: none;
    width: 200px;
    height: 150px;
    border: 1px solid #aaa;
    border-top: 0;
}
div.in{
    display: block;
}